<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @review.user_id %>
</p>

<p>
  <strong>Res:</strong>
  <%= @review.res_id %>
</p>

<p>
  <strong>Review text:</strong>
  <%= @review.review_text %>
</p>

<%= link_to 'Edit', edit_review_path(@review) %> |
<%= link_to 'Back', reviews_path %>
